* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(39, 157, 165) 0%,
    rgb(2, 37, 27) 100%
  );
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  background: linear-gradient(
    90deg,
    rgb(61, 141, 206) 0%,
    #161a2b 100%
  );
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  font-size: 45px;
  font-weight: 600;
  background-image: repeating-radial-gradient(circle closest-corner at 100px 100px, rgba(255, 118, 20, 1), rgba(155, 0, 250, 1) 10%, rgba(255, 84, 17, 1) 20%);

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
             
}
.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  margin-bottom: 25px;
  width: 320px;
  background: transparent;
  color: #fff;
}

.todo-input::placeholder {
  color: #b3b1b1;
}

.todo-button {
  margin-bottom: 25px;


  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4px auto;
  
  
  background: linear-gradient(
    90deg,
    
    rgb(133, 138, 143) 0%,
    rgb(50, 70, 95) 100%
    
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}
.todo-delet{
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  color: rgba(239, 245, 252, 0.89);
  text-transform: capitalize;
}
.todo-tsck{
  
    padding: 8px 32px 8px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid rgba(255, 118, 20, 1);
    outline: none;
    width: 300px;
    background: transparent;
    color: rgb(188, 196, 207);
  
  
}
#radio{
 
   
 
    width              : 32px;
    height             : 32px;
    margin             : calc(0.9em - 11px) 0.25rem 0 0;
    vertical-align     : top;
    border             : 2px solid rgb(23, 16, 85);
    margin-left: 10px;
   
  
   
    
}
#radio::before {
  /* ...existing styles */

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
